.asset{
  &.selected{
    z-index: 1;
  }
  .edit-controls{
    position: absolute;
    bottom: auto;
  }
}

.resizable {

  position: absolute;
  top: 100px;
  left: 100px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  img {
    width: 100%;
    height: 100%;
  }

  .resize-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    position: absolute;
    top: 0;

    .resize-handle {
      width: 15px;
      height: 15px;
      /* border-radius: 50%; */
      background: white;
      border: 1px solid #000000;
      position: absolute;

      &.top-left {
        left: -5px;
        top: -5px;
        cursor: nwse-resize;
      }

      &.top-right {
        right: -5px;
        top: -5px;
        cursor: nesw-resize;
      }

      &.bottom-left {
        left: -5px;
        bottom: -5px;
        cursor: nesw-resize;
      }

      &.bottom-right {
        right: -5px;
        bottom: -5px;
        cursor: nwse-resize;
      }

    }
  }

}
[contenteditable = "false"]{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px dotted black;
  &,&:focus{
    outline: 0px solid transparent;
  }
}
[contenteditable = "true"]{
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;

  border: 1px solid lightblue;


}

[contenteditable]{
  height: 100%;
  background: white;
}

